/*
 *  version: 0.30
 *  author: Originbal Version from Sailwave updated for Sailwave Importer by Shiny Solutions
 *  copyright Copyright (C) 2016 Shiny Solutions. All Rights Reserved.
 *  @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
*/

.hardleft {text-align: left; float: left; margin: 15px 0 15px 25px;} 
.hardright {text-align: right; float: right; margin: 15px 25px 15px 0;} 
table {text-align: left; margin: 0px auto 30px auto; font-size: 1em; border-collapse: collapse; border: 0;} 
td, th {padding: 4px; border: 0; vertical-align: top;} 
.caption {padding: 5px; text-align: center; border: 0; font-weight: bold;} 
th {background-color: #bbbbbb;} 
.contents {text-align: left; margin-left: 20%;} 
.even {background-color: #d7d7d7;} 
.natflag {border: 1px #999 solid;} 
.nattext {font-size: 0.8em;} 
.place1 {font-weight: bold; background-color: #ffffaa;} 
.place2 {font-weight: bold; background-color: #aaaaff;} 
.place3 {font-weight: bold; background-color: #ffaaaa;} 
.placen {} 

